#start_stop,
#reset {
  font-size: 20px;
  color: white;
  width: 100px;
  padding: 10px 0px;
  cursor: pointer;
}

#start_stop {
  background-color: darken(#5bc0de, 10);

  &:hover {
    background-color: darken(#5bc0de, 20);
  }
}

#reset {
  background-color: #d9534f;

  &:hover {
    background-color: darken(#d9534f, 20);
  }
}

@media (max-width: 375px) {
  #start_stop,
  #reset {
    width: 100%;
  }

  #reset {
    margin-top: 10px;
  }
}
