.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e4d92;
  padding-top: 100px;
  min-height: 100vh;
}

.app-title {
  color: #fff;
  font-size: 60px;
  margin-bottom: 5px;
}

@media (max-width: 420px) {
  .App {
    padding-top: 0px;
    justify-content: center;
  }

  .app-title {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  .App {
    padding-top: 0px;
    justify-content: center;
  }
  .app-title {
    text-align: center;
    font-size: 40px;
  }
}
